{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>CODELANCE LANCE</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.css" integrity="sha512-7vaQ4LLdaXd2IuMd4MUQ6LRFIGbEwJI1aq6KYqL3RjbdQyUkRFhwZKmqmkBXurTFdGlx687lTN8FSJfX6Df8Gw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.js" integrity="sha512-4i/wqLBUQRN1JXTwHTYjnZXUVi57tiOAMehaWWLqCXJpaIz9tgtOKJuEPUuBZ0+G7Bh/XJIsU/+gTCHBOWlFTw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/keymap/vim.min.js" integrity="sha512-CRScbOTlIJVds3U03uRuDwsYvvq3qFtW5rR7bdlWMzyaKASpibWkS4qhUwE0mfNIpwRurtR3V7bKMLPTtjXusw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body style="font-family: 'Courier New', monospace" class="bg-black text-gray-400">
<div class="text-green-600">
  <ul>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
  </ul>
</div>
    <div class="grid grid-cols-2">

        <div class="mx-5 py-5">

          <form id="codeForm">

              {% csrf_token %}
              <label for="duration">Save Duration:</label>

              <select name="duration" id="duration">
                  <option value="1">1 Day</option>
                  <option value="7">7 Days</option>
                  <option value="30">30 Days</option>
                  <option value="0">Never</option>
              </select>

              <input type="hidden" name="codeContent" id="hiddenCode">
              <input type="submit" value="Submit">

          </form>
        <div>
          <p class="inline py-5">Get to typing.</p>
          <p class="text-green-600 inline" id="result"></p>
        </div>
        <textarea id="myCodeMirror"></textarea>
    </div>

      <div class="mx-5">
          <p class="text-white">our orphans</p>
          <ul>
            {%  for obj in code_bins %}
              <li class="py-1">
                <a class="hover:underline" href="{{obj.get_absolute_url}}">{{ obj.first_20_characters }}</a>
              </li>
            {% endfor %}
          </ul>

      </div>
    </div>
<div class="text-green-600">
  <ul>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
    <li class="inline">CODELANCELANCE</li>
  </ul>
</div>

<script>
    let myCodeMirror = CodeMirror.fromTextArea(document.getElementById("myCodeMirror"), {
        lineNumbers: true     // Enable line numbers
    });
    myCodeMirror.setValue('{{ code | safe }}')

    document.getElementById('codeForm').addEventListener('submit', function(e) {
      e.preventDefault(); // Prevent the default form submission

      let codeContent = myCodeMirror.getValue()
      document.getElementById("hiddenCode").value = codeContent; // add the CodeMirror code to the hidden field

      const formData = new FormData(this);

      fetch('{% url 'form' %}', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          document.getElementById('result').innerHTML = 'yo we added it';
      })
      .catch(error => {
          console.error('Error:', error);
    });
});

</script>


</body>
</html>
