<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CODELANCE LANCE</title>
  <style>
    pre {
    white-space: pre-wrap;       /* Since CSS 3.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-wrap: break-word;   /* Modern browsers */
  }
    </style>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="mx-5">
    <div>
      <p class="hidden py-5 underline">This code expires in {{ expires }} days.</p>
    </div>
    <div>
      <textread class="py-5" id="none">{{ code_display | safe }}</textread>
    </div>
  </div>
</body>
</html>
